<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <!-- /comments -->
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='description' content='<%= description %>'>
    <link rel="shortcut icon" href="/img/ico.svg">


  </head>
  <body>
    <main>
      <article>

        <h1><%=title%></h1>
        <p><%=text%></p>

        <ul>

        </ul>
      </article>
      <aside>
        <!-- <h3>Autorization:</h3> -->
          <form action="https://qucu.ru/login" method="post">
            <!-- <input type="text" name="login" value="" placeholder="login"> -->
            <!-- <input type="password" name="password" value="" placeholder='password'> -->
          </form>
        <!-- <ul>
          <li>one</li>
          <li>two</li>
          <li>three</li>
        </ul> -->
        <strong>Hi, <%= name %></strong>
        <ul>
          <a href="/home"><li>home</li></a>
          <a href="/cabin"><li>cabin >^_^<</li></a>
          <a href="/script"><li>script</li></a>
          <!-- <a href="/exit"><li>exit</li></a> -->
        </ul>
      </aside>

    </main>
  </body>
</html>
