<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- /comments -->
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/ico.svg">
  </head>
  <body>
    <main>
      <article>

        <h1>Регистрация пройдена успешно! Поздравляем: <%= login %></h1>
        <p><%= password %></p>
        <p><%= email %></p>
        <p><%= Name %></p>
        <p><%= Lastname %></p>
        <p><%= age %></p>
        <p><%= gender %></p>
        <p><%= blod_type %></p>
        <p><%= profession %></p>
        <p><%= having_children %></p>
        <p><%= marital_status %></p>
        <p><%= hobby %></p>
        <p><%= education %></p>

      </article>
      <aside>
        <h3>
          <a href="/login">Authorization.</a>
        </h3>
        <a href="/registration">or registration</a>
        <!-- <a href="/">to exit</a> -->

      </aside>

    </main>
  </body>
</html>
