<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link href="https://qucu.ru/blozhik/style.css" rel="stylesheet">
    <meta name='description' content='<%= description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- (json) %>
    <link rel="icon" href="https://qucu.ru/images/js.svg">
    <link rel="canonical" href=https://qucu.ru/blozhik/<%- url %>>
</head>
<body>
  <main>
    <article>
      <h1><%- title %></h1>
      <p><%- article %></p>
      <p style="text-align:end;"><%= autor %></p>


    <!-- <a href='https://fozzy.com/aff.php?aff=16418' target='_blank'><img src='https://nasobe.ru/images/fozzy-hosting-is-faster-234x30-white-ru-2x.png' style="max-width:100%; text-align:center;" alt="the best hosting"></a> -->
</a>
      <a href="https://qucu.ru/blozhik/" style='border:3px solid yellow;border-radius:3px;background:rgba(200,200,200,0.3);font-size:22px;'>to list</a>
    </article>
  </main>
  <!-- <picture>
    <img src="https://nasobe.ru/images/fozzy/ssd-480x320.png" alt="фози быстрее быстрого">
  </picture> -->
</body>
<html>
